.wrap {
    height: 100%;

    a.island {
        height: 100%;
        box-sizing: border-box;

        .content {
            margin-top: -1.7rem;
            padding-top: 20px;

            .title {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h1 {
                    margin: 0;
                }
            }
        }
    }

    img.image {
        width: calc(100% + 2.5rem);
        transform: translateX(-1.25rem) translateY(-1.25rem);
        height: 300px;
        object-fit: cover;
        border-radius: var(--tui-radius-l) var(--tui-radius-l) 0 0;
    }
}
