<div class="wrap">
    <div class="header">
        <div class="site-name">
            <img class="logo" src="../../../../assets/images/block.png" alt="logo" />
            <div class="title">Shearon</div>
        </div>

        <div class="header-actions">
            <button tuiButton type="button" appearance="flat" routerLink="../home">
                Главная
            </button>
            <button tuiButton type="button" appearance="flat" routerLink="../portfolio">
                Портфолио
            </button>
            <button
                *ngIf="(authService.isAuthorized() | async) === false"
                tuiButton
                type="button"
                appearance="flat"
                routerLink="../home"
            >
                Связаться
            </button>
            <button
                *ngIf="authService.isAuthorized() | async"
                tuiButton
                type="button"
                appearance="flat"
                routerLink="../admin/works"
            >
                Админка
            </button>
            <button
                *ngIf="authService.isAuthorized() | async"
                tuiButton
                type="button"
                appearance="flat"
                (click)="logout()"
            >
                Выход
            </button>
        </div>
    </div>
</div>
