<div class="wrap">
    <div class="header">
        <a class="site-name" routerLink="home">
            <img class="logo" src="../../../../assets/images/block.png" alt="logo" />
            <div class="title">Shearon</div>
        </a>

        <div class="header-actions">
            <a
                tuiButton
                type="button"
                iconRight="tuiIconDesktopLarge"
                routerLink="../home"
                appearance="flat"
                class="tui-space_right-2"
            >
                Главная
            </a>
            <a
                tuiButton
                type="button"
                iconRight="tuiIconCompanyLarge"
                routerLink="../portfolio"
                appearance="flat"
                class="tui-space_right-2"
            >
                Портфолио
            </a>
            <a
                *ngIf="(authService.isAuthorized() | async) === false"
                tuiButton
                iconRight="tuiIconMailLarge"
                type="button"
                href="../home#contactme"
                appearance="flat"
                class="tui-space_right-2"
            >
                Связаться
            </a>
            <a
                *ngIf="authService.isAuthorized() | async"
                tuiButton
                iconRight="tuiIconMenuLarge"
                type="button"
                routerLink="../admin/works"
                appearance="flat"
                class="tui-space_right-2"
            >
                Админка
            </a>
            <a
                *ngIf="authService.isAuthorized() | async"
                tuiButton
                iconRight="tuiIconLogoutLarge"
                type="button"
                appearance="flat"
                class="tui-space_right-2"
                (click)="logout()"
            >
                Выход
            </a>
        </div>

        <div class="hamburger">
            <tui-hosted-dropdown [content]="hamburgerContent" #dropdown>
                <button
                    tuiIconButton
                    appearance="flat"
                    type="button"
                    icon="tuiIconMenuLarge"
                    [pseudoHovered]="dropdown.open || null"
                ></button>
            </tui-hosted-dropdown>
            <ng-template #hamburgerContent>
                <tui-data-list>
                    <button tuiOption routerLink="../home" class="active">Главная</button>
                    <button tuiOption routerLink="../portfolio">Портфолио</button>
                    <button tuiOption routerLink="../home">Связаться</button>
                </tui-data-list>
            </ng-template>
        </div>
    </div>
</div>
