<div class="wrap">
    <div class="stepper">
        <tui-stepper [(activeItemIndex)]="activeIndex">
            <button tuiStep [state]="activeIndex >= 1 ? 'pass' : 'normal'">
                Информация
            </button>
            <button
                tuiStep
                [disabled]="addWorkForm.invalid"
                [state]="activeIndex >= 2 ? 'pass' : 'normal'"
            >
                Изображения
            </button>
            <button
                tuiStep
                [disabled]="addWorkForm.invalid || !files.length"
                [state]="activeIndex >= 3 ? 'pass' : 'normal'"
            >
                Превью
            </button>
            <button tuiStep [disabled]="addWorkForm.invalid || !files.length || !preview">
                Загрузка
            </button>
        </tui-stepper>
    </div>
    <div class="content" [ngSwitch]="activeIndex">
        <ng-template ngSwitchCase="0">
            <form [formGroup]="addWorkForm">
                <tui-input formControlName="title"> Название </tui-input>
                <tui-text-area
                    formControlName="description"
                    [tuiTextfieldMaxLength]="maxLength"
                >
                    Описание
                </tui-text-area>
                <div class="featured-wrap">
                    <tui-checkbox-labeled size="l" formControlName="featured">
                        Избранная
                        <div class="example">Сделать работу избранной по умолчанию</div>
                    </tui-checkbox-labeled>
                </div>
            </form>
        </ng-template>

        <ng-template ngSwitchCase="1">
            <tui-input-file
                size="l"
                [multiple]="true"
                [(ngModel)]="files"
            ></tui-input-file>
        </ng-template>

        <ng-template ngSwitchCase="2">
            <tui-input-file
                size="l"
                [multiple]="false"
                [(ngModel)]="preview"
            ></tui-input-file>
        </ng-template>

        <ng-template ngSwitchCase="3">
            <div>{{ progressText }}</div>
            <progress tuiProgressBar max="100" size="s" [value]="progress"></progress>
        </ng-template>
    </div>
    <div class="buttons">
        <button
            *ngIf="!pending"
            tuiButton
            type="button"
            appearance="secondary"
            class="tui-space_right-2"
            [disabled]="activeIndex <= 0"
            (click)="previous()"
        >
            Назад
        </button>
        <button
            *ngIf="activeIndex < 2"
            tuiButton
            type="button"
            appearance="primary"
            [disabled]="addWorkForm.invalid"
            (click)="next()"
        >
            Далее
        </button>
        <button
            *ngIf="activeIndex === 2"
            tuiButton
            type="button"
            appearance="primary"
            [disabled]="!files.length"
            (click)="finish()"
        >
            Завершить
        </button>
    </div>
</div>
