.about-me-grid {
    display: grid;
    grid-template-columns: 1fr 180px;
    grid-template-rows: 1fr 56px;
    gap: 32px;

    .about-me-text {
        font-size: 14pt;
        line-height: 20pt;
    }

    img.player {
        width: 180px;
        -webkit-filter: drop-shadow(3px 3px 4px rgba(34, 34, 34, 0.6));
        filter: drop-shadow(3px 3px 4px rgba(34, 34, 34, 0.6));
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .about-me-contacts {
        width: fit-content;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;

        a {
            height: fit-content;
        }
    }
}

@media only screen and (max-width: 900px) {
    .about-me-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 56px;
        gap: 32px;

        img.player {
            display: none;
        }
    }
}
