.wrap {
    display: flex;
    justify-content: center;
    margin-top: 32px;

    .content {
        width: 50%;

        .title {
            margin-top: 16px;
        }

        .page {
            margin-top: 32px;
        }
    }
}
