.wrap {
    form {
        display: grid;
        grid-auto-rows: auto;
        gap: 12px;

        .buttons {
            margin-top: 12px;
        }

        tui-text-area {
            min-height: 200px;
        }

        tui-checkbox-labeled {
            text-align: left;

            .example {
                color: var(--tui-text-03);
            }
        }
    }
}
