.wrap {
    form {
        display: grid;
        grid-auto-rows: auto;
        gap: 12px;

        .buttons {
            margin-top: 12px;
        }

        tui-text-area {
            min-height: 200px;
        }

        tui-checkbox-labeled {
            text-align: left;

            .example {
                color: var(--tui-text-03);
            }
        }
    }

    .images {
        display: grid;
        gap: 8px;
        margin-top: 32px;
        grid-template-columns: repeat(5, 1fr);
    }
}

.header {
    display: flex;
    width: 100%;
    height: 260px;
    align-items: center;
    justify-content: center;
    background: var(--tui-link-hover);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.content {
    margin-top: 32px;

    .button-wrap {
        margin-top: 16px;
        display: flex;
        justify-content: flex-end;
    }
}
