<div class="wrap">
    <form [formGroup]="buildingForm">
        <tui-input formControlName="title" [readOnly]="pending"> Название </tui-input>
        <tui-text-area formControlName="description" [readOnly]="pending">
            Описание
        </tui-text-area>
        <div class="featured-wrap">
            <tui-checkbox-labeled
                size="l"
                formControlName="featured"
                [readOnly]="pending"
            >
                Избранная
                <div class="example">Сделать работу избранной</div>
            </tui-checkbox-labeled>
        </div>
        <div class="buttons">
            <button
                tuiButton
                type="button"
                appearance="primary"
                [showLoader]="pending"
                [disabled]="!saveEnabled"
                (click)="save()"
            >
                Сохранить
            </button>

            <button
                tuiButton
                type="button"
                appearance="secondary"
                class="tui-space_left-3"
                [showLoader]="pending"
                (click)="changePreview(changePreviewDialog, dialogHeader)"
            >
                Изменить превью
            </button>

            <button
                tuiButton
                type="button"
                appearance="accent"
                class="tui-space_left-3"
                [showLoader]="pending"
                (click)="remove()"
            >
                Удалить
            </button>
        </div>
    </form>
</div>

<ng-template #changePreviewDialog let-observer>
    <div class="content">
        <tui-input-file
            accept="image/*"
            size="l"
            [disabled]="pending"
            [(ngModel)]="preview"
        ></tui-input-file>
        <div class="button-wrap">
            <button
                tuiButton
                type="button"
                appearance="primary"
                [disabled]="!preview || pending"
                [showLoader]="pending"
                (click)="publishPreview()"
            >
                Завершить
            </button>
        </div>
    </div>
</ng-template>

<ng-template #dialogHeader>
    <div class="header">
        <img [src]="building.minimizedPreview" alt="preview" />
    </div>
</ng-template>
