<div class="wrap">
    <form [formGroup]="buildingForm">
        <tui-input formControlName="title"> Название </tui-input>
        <tui-text-area formControlName="description"> Описание </tui-text-area>
        <div class="featured-wrap">
            <tui-checkbox-labeled size="l" formControlName="featured">
                Избранная
                <div class="example">Сделать работу избранной</div>
            </tui-checkbox-labeled>
        </div>
    </form>
    <div class="buttons">
        <button tuiButton type="button" appearance="secondary" (click)="save()">
            Сохранить
        </button>

        <button tuiButton type="button" appearance="accent" class="tui-space_left-3">
            Удалить
        </button>
    </div>
</div>
