<div class="wrap">
    <form [formGroup]="buildingForm">
        <tui-input formControlName="title" [readOnly]="pending"> Название </tui-input>
        <tui-text-area formControlName="description" [readOnly]="pending">
            Описание
        </tui-text-area>
        <div class="featured-wrap">
            <tui-checkbox-labeled
                size="l"
                formControlName="featured"
                [readOnly]="pending"
            >
                Избранная
                <div class="example">Сделать работу избранной</div>
            </tui-checkbox-labeled>
        </div>
        <div class="buttons">
            <button
                tuiButton
                type="button"
                appearance="secondary"
                [showLoader]="pending"
                [disabled]="!saveEnabled"
                (click)="save()"
            >
                Сохранить
            </button>

            <button
                tuiButton
                type="button"
                appearance="accent"
                class="tui-space_left-3"
                [showLoader]="pending"
                (click)="remove()"
            >
                Удалить
            </button>
        </div>
    </form>
</div>
