.wrap {
    height: 100vh;
    width: 100vw;
    background-image: url('../../../../assets/images/header-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    .overlap {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.65);
        position: relative;

        .welcoming-text {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;

            .title {
                padding: 0px 16px 0px 16px;
                font-size: 64pt;
                line-height: 64pt;
                margin-bottom: 32px;
                text-align: center;
            }

            .subtitle {
                padding: 0px 16px 0px 16px;
                font-size: 20pt;
                line-height: 20pt;
                text-align: center;
            }
        }

        .header {
            height: 80px;
            width: 100vw;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 32px;
            padding-right: 32px;

            user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;

            .site-name {
                display: flex;
                align-items: center;

                .title {
                    color: white;
                    font-size: 28pt;
                    line-height: 28pt;
                }

                .logo {
                    height: 48px;
                    width: 48px;
                    margin-right: 8px;
                    object-fit: cover;
                }
            }

            .hamburger {
                display: none;
            }

            .header-actions {
                display: flex;
            }
        }

        .scroll-down {
            position: absolute;
            bottom: 64px;
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;

            .custom {
                cursor: pointer;
                color: white;
                background: rgba(255, 255, 255, 0.3);
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .wrap {
        .overlap {
            .welcoming-text {
                .title {
                    padding: 0px 16px 0px 16px;
                    font-size: 36pt;
                    margin-bottom: 48px;
                    line-height: 36pt;
                }

                .subtitle {
                    padding: 0px 16px 0px 16px;
                    font-size: 14pt;
                    line-height: 14pt;
                }
            }

            .header {
                justify-content: center;

                .site-name {
                    .title {
                        font-size: 24pt;
                        line-height: 24pt;
                    }

                    .logo {
                        height: 36px;
                        width: 36px;
                    }
                }

                .header-actions {
                    display: none;
                }

                .hamburger {
                    position: absolute;
                    display: block;
                    right: 4px;
                    margin-bottom: -6px;
                }
            }
        }
    }
}
