<div class="wrap">
    <div class="overlap">
        <div class="header" [@openHeader]>
            <div class="site-name">
                <img
                    class="logo"
                    src="../../../../assets/images/block-white.png"
                    alt="logo"
                />
                <div class="title">Shearon</div>
            </div>

            <div class="header-actions">
                <a
                    tuiButton
                    type="button"
                    iconRight="tuiIconDesktopLarge"
                    routerLink="../home"
                    appearance="header-link"
                    class="tui-space_right-1"
                >
                    Главная
                </a>
                <a
                    tuiButton
                    type="button"
                    iconRight="tuiIconCompanyLarge"
                    routerLink="../portfolio"
                    appearance="header-link"
                    class="tui-space_right-1"
                >
                    Портфолио
                </a>
                <a
                    *ngIf="(authService.isAuthorized() | async) === false"
                    tuiButton
                    iconRight="tuiIconMailLarge"
                    type="button"
                    href="../home#contactme"
                    appearance="header-link"
                >
                    Связаться
                </a>
                <a
                    *ngIf="authService.isAuthorized() | async"
                    tuiButton
                    iconRight="tuiIconMenuLarge"
                    type="button"
                    routerLink="../admin/works"
                    appearance="header-link"
                    class="tui-space_right-1"
                >
                    Админка
                </a>
                <a
                    *ngIf="authService.isAuthorized() | async"
                    tuiButton
                    iconRight="tuiIconLogoutLarge"
                    type="button"
                    appearance="header-link"
                    (click)="logout()"
                >
                    Выход
                </a>
            </div>

            <div class="hamburger">
                <tui-hosted-dropdown [content]="hamburgerContent" #dropdown>
                    <button
                        tuiIconButton
                        appearance="flat"
                        type="button"
                        icon="tuiIconMenuLarge"
                        [pseudoHovered]="dropdown.open || null"
                    ></button>
                </tui-hosted-dropdown>
                <ng-template #hamburgerContent>
                    <tui-data-list>
                        <button tuiOption routerLink="../home" class="active">
                            Главная
                        </button>
                        <button tuiOption routerLink="../portfolio">Портфолио</button>
                        <button tuiOption routerLink="../home">Связаться</button>
                    </tui-data-list>
                </ng-template>
            </div>
        </div>

        <div class="welcoming-text" [@openWelcomeText]>
            <div class="title">Постройка вашей мечты</div>
            <div class="subtitle">
                Мы построим, что вы хотите. Мы предложим, что вам надо.
            </div>
        </div>

        <div class="scroll-down">
            <tui-marker-icon
                size="s"
                class="custom"
                [@floatingArrow]="arrowState"
                (@floatingArrow.done)="arrowState = !arrowState"
                src="tuiIconArrowDownLarge"
                (click)="scrollClick.emit()"
            ></tui-marker-icon>
        </div>
    </div>
</div>
