<div class="wrap">
    <div class="overlap">
        <div class="header" [@openHeader]>
            <div class="site-name">
                <img
                    class="logo"
                    src="../../../../assets/images/block-white.png"
                    alt="logo"
                />
                <div class="title">Shearon</div>
            </div>

            <div class="header-actions">
                <a routerLink="../home" class="active"> Главная </a>
                <a routerLink="../portfolio"> Портфолио </a>
                <a routerLink="../home"> Связаться </a>
            </div>
        </div>

        <div class="welcoming-text" [@openWelcomeText]>
            <div class="title">Постройка вашей мечты</div>
            <div class="subtitle">
                Мы построим, что вы хотите. Мы предложим, что вам надо.
            </div>
        </div>
    </div>
</div>
