.wrap {
    .toggle {
        margin-bottom: 12px;
        display: flex;
        align-items: center;
    }

    .container {
        tui-accordion-item {
            .message-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .message-body {
                .contacts {
                    margin-bottom: 8px;

                    a {
                        display: block;
                        width: fit-content;
                    }
                }

                button {
                    margin-top: 12px;
                }
            }
        }
    }
}
