.wrap {
    .toggle {
        margin-bottom: 12px;
        display: flex;
        align-items: center;
    }

    .container {
        tui-accordion-item {
            .message-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Old versions of Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none;
            }

            .message-body {
                .contacts {
                    margin-bottom: 8px;

                    a {
                        display: block;
                        width: fit-content;
                    }
                }

                button {
                    margin-top: 12px;
                }
            }
        }
    }
}
