<div tuiCarouselButtons class="carousel">
    <button
        tuiIconButton
        icon="tuiIconChevronLeftLarge"
        title="Previous"
        (click)="carousel.prev()"
    ></button>
    <tui-carousel #carousel [duration]="5000" [(index)]="index">
        <ng-container *ngFor="let building of buildings">
            <div class="carousel-content" *tuiItem>
                <div class="carousel-image-wrap">
                    <img [src]="building.image" alt="carousel-image" />
                </div>
                <div class="image-name">
                    {{ building.title }}
                    <a
                        tuiLink
                        icon="tuiIconRedoLarge"
                        class="tui-space_left-1"
                        [routerLink]="'../building/' + building.id"
                    ></a>
                </div>
            </div>
        </ng-container>
    </tui-carousel>
    <button
        tuiIconButton
        icon="tuiIconChevronRightLarge"
        title="Next"
        (click)="carousel.next()"
    ></button>
</div>
