<div class="wrap">
    <div class="content">
        <div class="breadcrumbs">
            <tui-breadcrumbs
                size="l"
                class="tui-space_top-2"
                [class.tui-skeleton]="skeletonVisible"
                [class.tui-skeleton_text]="skeletonVisible"
                [class.tui-skeleton_short]="skeletonVisible"
                [class.tui-skeleton_light]="false"
            >
                <ng-container *ngFor="let item of items">
                    <a *tuiBreadcrumb tuiLink [routerLink]="item.link">
                        {{ item.title }}
                    </a>
                </ng-container>
            </tui-breadcrumbs>
        </div>
        <div
            class="title tui-text_h2"
            [class.tui-skeleton]="skeletonVisible"
            [class.tui-skeleton_text]="skeletonVisible"
            [class.tui-skeleton_short]="skeletonVisible"
            [class.tui-skeleton_light]="false"
        >
            {{ building?.title }}
            <tui-marker-icon
                *ngIf="building?.featured"
                mode="warning"
                size="s"
                src="tuiIconStarFilledLarge"
                class="tui-space_left-3"
                tuiHint="Избранная работа"
            ></tui-marker-icon>
        </div>

        <div tuiCarouselButtons class="carousel">
            <button
                [class.tui-skeleton]="skeletonVisible"
                [class.tui-skeleton_rounded]="skeletonVisible"
                [class.tui-skeleton_light]="false"
                tuiIconButton
                icon="tuiIconChevronLeftLarge"
                title="Previous"
                (click)="carousel.prev()"
            ></button>
            <tui-carousel #carousel [(index)]="index">
                <ng-container *ngFor="let image of building?.images ?? ['']">
                    <div class="carousel-content" *tuiItem>
                        <div class="carousel-image-wrap">
                            <img [src]="image" loading="lazy" />
                        </div>
                    </div>
                </ng-container>
            </tui-carousel>
            <button
                [class.tui-skeleton]="skeletonVisible"
                [class.tui-skeleton_rounded]="skeletonVisible"
                [class.tui-skeleton_light]="false"
                tuiIconButton
                icon="tuiIconChevronRightLarge"
                title="Next"
                (click)="carousel.next()"
            ></button>
        </div>
        <tui-pagination
            size="s"
            class="pagination"
            [length]="building?.images?.length ?? 0"
            [(index)]="index"
        ></tui-pagination>

        <div
            class="desc-title tui-text_h3"
            [class.tui-skeleton]="skeletonVisible"
            [class.tui-skeleton_text]="skeletonVisible"
            [class.tui-skeleton_short]="skeletonVisible"
            [class.tui-skeleton_light]="false"
        >
            Описание
        </div>
        <div
            class="description tui-text_body-xl"
            [class.tui-skeleton]="skeletonVisible"
            [class.tui-skeleton_text]="skeletonVisible"
            [class.tui-skeleton_short]="skeletonVisible"
            [class.tui-skeleton_light]="false"
        >
            {{ building?.description }}
        </div>
    </div>
</div>
