.wrap {
    display: flex;
    justify-content: center;

    .breadcrumbs {
        margin-bottom: 16px;
    }

    .content {
        width: 60%;

        .title {
            display: flex;
            align-items: center;
            font-size: 32pt;
            line-height: 32pt;
        }

        .desc-title {
            margin-bottom: 32px;
            margin-top: 64px;
            font-size: 26pt;
            line-height: 26pt;
        }

        .carousel {
            margin-top: 64px;
            display: flex;
            align-items: center;

            .carousel-content {
                margin-bottom: 8px;
                display: flex;
                justify-content: center;

                .carousel-image-wrap {
                    width: 1000px;
                    height: 500px;
                    border-radius: 16px;
                    overflow: hidden;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .image-name {
                    margin-top: 16px;
                    font-size: 24pt;
                    line-height: 24pt;
                }
            }
        }
    }
}

@media only screen and (min-width: 2400px) {
    .wrap {
        .content {
            .carousel {
                .carousel-content {
                    .carousel-image-wrap {
                        width: 1300px;
                        height: 650px;
                        border-radius: 24px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .wrap {
        .content {
            width: 95%;

            .title {
                font-size: 24pt;
                line-height: 24pt;
            }

            .desc-title {
                margin-bottom: 16px;
                margin-top: 32px;
                font-size: 20pt;
                line-height: 20pt;
            }

            .carousel {
                margin-top: 32px;

                button {
                    display: none;
                }

                .carousel-content {
                    .carousel-image-wrap {
                        width: 100%;
                        height: 220px;
                    }
                }
            }
        }
    }
}
