.wrap {
    margin-top: 12px;

    .container {
        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .title {
                margin-left: 12px;

                .title-text {
                    font-size: 16pt;
                }

                .unsaved-text {
                    font-size: 10pt;
                    font-weight: bold;
                    color: var(--tui-negative);
                }
            }
        }
    }
}
