<div class="wrap">
    <tui-accordion>
        <tui-accordion-item *ngFor="let building of buildings" class="container">
            <div class="header">
                <div class="title">
                    <span class="title-text">{{ building.title }}</span>
                    <span *ngIf="unsavedId === building.id" class="unsaved-text">
                        (не сохранено)
                    </span>
                </div>
                <tui-marker-icon
                    *ngIf="building?.featured"
                    size="xs"
                    src="tuiIconStarFilledLarge"
                    mode="warning"
                ></tui-marker-icon>
            </div>
            <ng-template tuiAccordionItemContent>
                <mbp-works-list-item
                    (updated)="onUpdated($event)"
                    (deleted)="onDeleted($event)"
                    (unsaved)="onUnsaved($event)"
                    [buldingId]="building.id"
                ></mbp-works-list-item>
            </ng-template>
        </tui-accordion-item>
    </tui-accordion>
</div>
