<div class="wrap">
    <form [formGroup]="contactForm">
        <fieldset formGroupName="contacts">
            <tui-input formControlName="email"> Введите Email </tui-input>
            <tui-input formControlName="telegram"> Введите Telegram </tui-input>
            <tui-input formControlName="discord"> Введите Discord </tui-input>
        </fieldset>
        <tui-text-area formControlName="message" [tuiTextfieldMaxLength]="maxLength">
            Введите сообщение
        </tui-text-area>
        <button
            tuiButton
            type="button"
            appearance="primary"
            [showLoader]="showLoader"
            [disabled]="!captchaToken?.length"
            (click)="send()"
        >
            Отправить
        </button>
        <re-captcha
            (resolved)="resolved($event)"
            siteKey="6LfUzJceAAAAADPEfYVAZ5-eGaHvh1m6InJN1aQT"
        ></re-captcha>
    </form>
</div>
